
<div  class="col-md-4 column">
    <div class="flip">
    <div class="card" id="{{airport.iata}}">
        <img  ng-disabled="map" src="../assets/Airports_pics/{{airport.iata}}.jpg" alt="Avatar" style="width:100%">
        <div class="container">
            <h4><b><strong>{{airport.name}}</strong></b></h4>
            <p>{{airport.iata}}</p>
            <i (click)="toggle(airport.iata)" class="fa fa-plane" aria-hidden="true"></i>
        </div>
        <div class="face back" ng-model="map">
            <app-map [latitude]="airport.lat" [longitude]="airport.lon"></app-map>

            <button type="button" class="btn btn-warning" (click)="toggle(airport.iata)">
                Hide the Map
            </button>
            &nbsp; &nbsp; 
            <button type="button" class="btn btn-info"
                    tooltip={{content}}
                    triggers="click">
                Departure?
            </button>
        </div>
    </div>
</div>
